spring.application.name=pdv
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update

spring.datasource.url=yourUrl
spring.datasource.username=yourUser
spring.datasource.password=yourPassword

spring.jpa.database-plataform=postgres
spring.jpa.show-sql=false